.container {
  background: url("../../images/user/background.png") no-repeat;
  background-size: cover;
  min-height: 100%;
  padding: 110px 0 144px;

  .top {
    text-align: center;

    .header {
      color: rgba(0, 0, 0, .85);
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      font-size: 33px;
      font-weight: 600;
      height: 44px;
      line-height: 44px;
    }

    .desc {
      color: rgba(0, 0, 0, .45);
      font-size: 14px;
      margin-bottom: 40px;
      margin-top: 12px;
    }
  }
}
